---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.tsx";
import PhotoSlideshow from "../components/PhotoSlideshow.tsx";
import { getConfig } from "helpers/config";
import WhatsOn from "../components/WhatsOn";
import OurStory from "../components/OurStory";
import FooterLinks from "../components/FooterLinks.tsx";
import Sundays from "../components/Sundays.tsx";
import { getWhatsOnCards } from "helpers/whatson";
import { getTeam } from "helpers/team";

const config = await getConfig();
const cards = await getWhatsOnCards();
const team = await getTeam();
---

<BaseLayout>
  <div class="flex flex-col gap-20 md:px-0">
    <Hero config={config} />
    <WhatsOn client:load cards={cards} sundayText={config.sunday} />
    <PhotoSlideshow photoGallery={config.photoGallery} />
    <OurStory
      client:load
      mission={config.mission}
      network={config.network}
      team={team}
    />
    <FooterLinks client:load config={config} />
  </div>
</BaseLayout>
